<html>
<head>
  <title>ПроkлRтый Гоqод</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://unpkg.com/vue@3"></script>
</head>

<body>

<div id="app" class="container">
  <app-header v-bind:header="header"></app-header>

  <div class="bg-light px-2">

  <div class="pt-2">
    Рюкзак &bull; Персонаж &bull; Магия
  </div>
    
  <div class="mt-2">
    Здоровье: 20/20
    Мана: 20/20 
    Усталость: 0%
  </div>

  <div class="mt-2">
    <div><a href="">привратник Редизенд</a></div>
    <div><a href="">старушка Леора</a></div>
  </div>

  <div class="mt-2">
    <a href="">Mapku3a *LosMagos*!!!!*</a>
  </div>

  <div class="mt-2">
    <app-mob v-for="(mob, index) in location.mobs" :mob="mob" :key="index" :player="player" :pos="app.pos"></app-mob>
  </div>

  <div class="mt-2">
    <a href="">серебрянная оправа</a>
  </div>

  <div class="mt-2">
    <app-pos :pos="app.pos" :player="player"></app-pos>
  </div>

  <div class="mt-2">
    <div>[c] <a href="">в банк</a></div>
    <div>[в] <a href="">на Озерную улицу</a></div>
    <div>[з] <a href="">склад</a></div>
    <div>[ю] <a href="">выйти из города</a></div>
  </div>

  </div>
</div>

<script>
const app = Vue.createApp({
  data() {
    return {
      header: 'Площадь Четырех Фонтанов',
      app: {
        pos: [
          {id: 0, title: 'центр', t: '*'},
          {id: 1, title: 'север', t: 'с'},
          {id: 2, title: 'юг',    t: 'ю'},
          {id: 3, title: 'запад', t: 'з'},
          {id: 4, title: 'восток',t: 'в'}
        ]
      },
      location: {
        mobs: [
          {title: 'паук', pos: 0},
          {title: 'матерый волк', pos: 2},
        ]
      },
      player: {
        hmp: {hp_now: 30, hp_max: 30, mp_now: 10, mp_max: 10, fp_now: 0},
        location: {pos: 0}
      }
    }
  }
})

app.component('app-header', {
  props: ['header'],
  template: `<div class="bg-dark text-white px-2">- {{ header }} -</div>`
})
app.component('app-mob', {
  props: ['pos', 'mob', 'player'],
  template: `<div>
              <span v-show="mob.pos != player.location.pos">{{ pos.find(x => x.id == mob.pos).t }} | </span> <a href="">{{ mob.title }}</a>
            </div>`
})
app.component('app-pos', {
  props: ['pos', 'player'],
  template: `<span v-for="p in pos" :key="p.id">
              <a href="" :class="{'text-dark': p.id == player.location.pos}" @click="changePos()">{{ p.t }}</a>
              <span v-if="p.id != 4" class="px-1">|</span>
            </span>`
})

app.mount('#app')
</script>

</body>
</html